/data/yang/
/data/zhou/
/data/barman/
/data/denovo/
/data/HVPPI/
/data/HVPPI/test.json
/data/pfam/
/data/vocab.data
/data/williams_MTB/
/results/ppi.bert._bacteria_01-02-2022/best_model.pt
/results/ppi.bert.bsz_4.layers_12.size_512.heads_8.drop_10.lr_1e-05.emb_conv.saved_model.h1n1.''/best_model.pt
/results/ppi_bert_h1n1-21-01-2022/best_model.pt
/results/ppi_bert_h1n1-22-01-2022/best_model.pt
/.idea/csv-plugin.xml
/.idea/DeepVHPPI.iml
/deepvhppi.tar.gz
/.idea/misc.xml
/.idea/modules.xml
/Pipfile
/Pipfile.lock
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/results/ppi.bert._bacteria_01-02-2022/test_log.json
/results/ppi.bert.bsz_4.layers_12.size_512.heads_8.drop_10.lr_1e-05.emb_conv.saved_model.h1n1.''/test_log.json
/results/ppi_bert_h1n1-21-01-2022/test_log.json
/results/ppi_bert_h1n1-22-01-2022/test_log.json
/results/ppi.bert._bacteria_01-02-2022/train_log.json
/results/ppi.bert.bsz_4.layers_12.size_512.heads_8.drop_10.lr_1e-05.emb_conv.saved_model.h1n1.''/train_log.json
/results/ppi_bert_h1n1-21-01-2022/train_log.json
/results/ppi_bert_h1n1-22-01-2022/train_log.json
/results/ppi.bert._bacteria_01-02-2022/valid_log.json
/results/ppi.bert.bsz_4.layers_12.size_512.heads_8.drop_10.lr_1e-05.emb_conv.saved_model.h1n1.''/valid_log.json
/results/ppi_bert_h1n1-21-01-2022/valid_log.json
/results/ppi_bert_h1n1-22-01-2022/valid_log.json
/.idea/vcs.xml
